<h2>הרשמה</h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "name",class:"form-control mb-3" },
                label_html: {class:"form-label"},
                label: "שם שיוצג לכולםן"%>
  <%= f.input :email,
                required: true,
                input_html: { autocomplete: "email",class:"form-control mb-3" },
                label_html: {class:"form-label"},
                label: "אימייל"%>
  <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} תווים לפחות" if @minimum_password_length),
                input_html: { autocomplete: "new-password",class:"form-control mb-3" },
                label_html: {class:"form-label"},
                label: "סיסמה" %>
  <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password",class:"form-control mb-3" },
                label_html: {class:"form-label"},
                label: "וידוא סיסמה" %>
  <%= f.button :submit, "שליחה", class: "btn btn-cta w-100" %>
<% end %>
<br>
<%= render "devise/shared/links" %>
