<p id="notice"><%= notice %></p>

<h1>אירועים</h1>

<table>
  <thead>
    <tr>
      <th>שעה</th>
      <th>תיאור</th>
      <th>מקור</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.time.strftime("%H:%M")  %></td>
        <td><%= event.description %></td>
        <td><%= event.user.name %></td>
        <% if user_signed_in? && (current_user.admin? || current_user.events.include?(event))  %>
          <td><%= link_to 'עריכה', edit_event_path(event), class: "btn btn-outline-warning" %></td>
          <td><%= link_to 'מחיקה', event, method: :delete, data: { confirm: 'בטוח.ה?' }, class: "btn btn-outline-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'דיווח על אירוע', new_event_path, class: "btn btn-primary" %>
