<%= Rails.root %>||<%= asset_path 'favicon-logo.jpg' %>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <% flash.each do |type, msg| %>
      <% if type == "notice" %>
        <div class="alert alert-success">
      <% elsif type == "alert" %>
        <div class="alert alert-danger">
      <% else %>
        <div class='alert alert-<%= "#{type}" %>'>
      <% end %>
      <a href="#" class="close" data-dismiss="alert">&#215;</a>
      <ul>
        <li>
          <%= msg %>
        </li>
      </ul>
    <% end %>
  </div>
</div>

<% @events.each do |event| %>
  <div class="card border-0 event" >
    <div class="card-body">
      <h5 class="card-title ">
        <% if event.unapproved? %>
          <%= bootstrap_icon "asterisk", width: 20, height: 20, fill: "red" %>
        <% end %>
        <%= event.user.name %>
      </h5>
      <h6 class="card-subtitle text-muted "><%= event.street %> </h6>
      <p class="card-text mt-2"><%= event.description %></p>
      <% if user_signed_in? && (current_user.admin? || current_user.events.include?(event))  %>
        <td>
          <%= link_to edit_event_path(event), class: "btn btn-outline-warning" do %>
            <%= bootstrap_icon "pen", width: 20, height: 20, fill: "#ffc107" %>
          <% end %>
        </td>
        <td>
          <%= link_to event, method: :delete, data: { confirm: 'בטוח.ה?' }, class: "btn btn-outline-danger" do %>
            <%= bootstrap_icon "trash", width: 20, height: 20, fill: "#dc3545" %>
          <% end %>
        </td>
        <td>
          <%= link_to toggle_status_path(id: event.id), class: "btn btn-outline-info" do %>
            <%= bootstrap_icon "emoji-heart-eyes", width: 20, height: 20, fill: "#0dcaf0" %>
          <% end %>
        </td>
      <% end %>
    </div>
    <div class="card-footer text-muted bg-white border-top-0 border-bottom d-flex justify-content-end">
      <small class="card-subtitle text-muted"><%= event.date.strftime("%d/%m") %> | <%= event.time.strftime("%H:%M") %></small>
    </div>
  </div>
<% end %>
<%= link_to map_path, class: "btn btn-add-event" do %>
  <%= image_tag 'airplane.svg' %>
<% end %>
