<% @events.each do |event| %>
  <div class="card border-top-0 border-end-0 border-start-0" >
    <div class="card-body">
      <h5 class="card-title"><%= event.user.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= event.time.strftime("%H:%M") %></h6>
      <p class="card-text"><%= event.description %></p>
      <% if user_signed_in? && (current_user.admin? || current_user.events.include?(event))  %>
        <td><%= link_to 'עריכה', edit_event_path(event), class: "btn btn-outline-warning" %></td>
        <td><%= link_to 'מחיקה', event, method: :delete, data: { confirm: 'בטוח.ה?' }, class: "btn btn-outline-danger" %></td>
      <% end %>
    </div>
  </div>
<% end %>
<%= link_to new_event_path, class: "btn btn-add-event" do %>
  <%= image_tag 'airplane.svg' %>
<% end %>
