<div class="table-responsive">
  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">שם</th>
      <th scope="col">אימייל</th>
      <th scope="col">תפקיד</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |user, index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <div class="btn-group" role="group" aria-label="<%= user.name %> status change">
          <% if user.unreliable? %>
            <%= button_to "לא אמין", set_user_role_path(user: user, role: :unreliable), class: "btn btn-primary mx-1 active" %>
            <%= button_to "אמין", set_user_role_path(user: user, role: :reliable), class: "btn btn-primary mx-1" %>
            <%= button_to "ניהול", set_user_role_path(user: user, role: :admin), class: "btn btn-primary mx-1" %>
          <% elsif user.reliable? %>
            <%= button_to "לא אמין", set_user_role_path(user: user, role: :unreliable), class: "btn btn-primary mx-1" %>
            <%= button_to "אמין", set_user_role_path(user: user, role: :reliable), class: "btn btn-primary mx-1 active" %>
            <%= button_to "ניהול", set_user_role_path(user: user, role: :admin), class: "btn btn-primary mx-1" %>
          <% elsif user.admin? %>
            <%= button_to "לא אמין", set_user_role_path(user: user, role: :unreliable), class: "btn btn-primary mx-1" %>
            <%= button_to "אמין", set_user_role_path(user: user, role: :reliable), class: "btn btn-primary mx-1" %>
            <%= button_to "ניהול", set_user_role_path(user: user, role: :admin), class: "btn btn-primary mx-1 active" %>
          <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
