<!DOCTYPE html>
<html dir="rtl">
  <head>
    <title>תמונת מצב - מבזקים חיפאיים</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'map' %>
    <%= javascript_pack_tag 'application', 'map', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script async defer data-domain="matzav.codecircle.co.il" src="https://plausible.io/js/plausible.js"></script>
    <%= render 'application/favicon' %>
    <meta property="og:title" content="תמונת מצב - מבזקים חיפאיים" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%= asset_url 'favicon-logo.jpg' %>" />
    <meta property="og:description" content="כלי דיווח והתרעה קהילתי, במטרה לעזור לנו לשמור אחד על השנייה" />
  </head>
  <body>
    <%= render 'layouts/nav' %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
